:root {
  --green: rgba(61, 122, 107, 1);
}
body {
  background-color: #414141;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  margin-left: 80px; 
  display: flex;
   
}

h1 {
  text-align: center;
}
